<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bello.WEB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" />
  
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/modal.css" />
    <link rel="stylesheet" href="~/css/card.css" />
</head>
<body>


    <header class="masthead">

        <div class="boards-menu">

            <a class="boards-btn btn" asp-controller="Board" asp-action="Index"><i class="fab fa-trello"></i>&nbsp; Boards</a>

        </div>

        <div class="logo">
            <a asp-controller="Board" asp-action="Index"> <img src="~/images/logo-small.PNG" alt="" style="width:150px;height:80px" /></a>
        </div>


        <div class="user-settings">

            <button class="user-settings-btn btn" aria-label="Create">
                <i class="fas fa-plus" aria-hidden="true"> </i>
            </button>

            <button class="user-settings-btn btn" aria-label="Information">
                <i class="fas fa-info-circle" aria-hidden="true"> </i>
            </button>

            <button class="user-settings-btn btn" aria-label="Notifications">
                <i class="fas fa-bell" aria-hidden="true"></i>
            </button>

            <button class="user-settings-btn btn" aria-label="User Settings">
                <i class="fas fa-user-circle" aria-hidden="true"></i>
            </button>


        </div>

    </header>
    <section class="board-info-bar">

        <div class="board-controls">

            <button class="board-title btn" id="board_name">
                <h2>C0520G1</h2>
            </button>

            <button class="personal-btn btn" id="nhomcanhan"> Nhóm cá nhân</button>


        </div>

        <button class="menu-btn btn" id="menu-btn">
            <i class="fas fa-ellipsis-h menu-btn-icon" aria-hidden="true"></i>Show
            Menu
        </button>
        
    </section>
        <div>
            <main role="main" class="pb-3">
                <br />
                @RenderBody()
            </main>
        </div>


        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="~/lib/bootbox/bootbox.min.js"></script>
        <script src="~/lib/font-awesome/js/all.js"></script>
        @*<script src="~/js/site.js" asp-append-version="true"></script>*@
        @RenderSection("Scripts", required: false)
        @RenderSection("Styles", false)
</body>
</html>

