<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bello.WEB</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="shortcut icon" href="">
</head>
<body>
    <header class="masthead">

        <div class="boards-menu">

            <button class="boards-btn btn"><i class="fab fa-trello boards-btn-icon"></i>Boards</button>

            <div class="board-search">
                <input type="search" class="board-search-input" aria-label="Board Search">
                <i class="fas fa-search search-icon" aria-hidden="true"></i>
            </div>

        </div>

        <div class="logo">

            <img src="/logo.PNG" alt="" style="width:150px;height:80px">

        </div>

        <div class="user-settings">

            <button class="user-settings-btn btn" aria-label="Create">
                <i class="fas fa-plus" aria-hidden="true"> </i>
            </button>

            <button class="user-settings-btn btn" aria-label="Information">
                <i class="fas fa-info-circle" aria-hidden="true"> </i>
            </button>

            <button class="user-settings-btn btn" aria-label="Notifications">
                <i class="fas fa-bell" aria-hidden="true"></i>
            </button>

            <button class="user-settings-btn btn" aria-label="User Settings">
                <i class="fas fa-user-circle" aria-hidden="true"></i>
            </button>

        </div>

    </header>
    @RenderBody()

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/cce24d2a9e.js"></script>
    <script src="~/js/site.js"></script>


</body>

@RenderSection("Scripts", required: false)


</html>

