<section class="board-info-bar">

    <div class="board-controls">

        <button class="board-title btn">
            <h2>C0520G1</h2>
        </button>

        <button class="star-btn btn" aria-label="Star Board">
            <i class="far fa-star" aria-hidden="true"></i>
        </button>

        <button class="personal-btn btn"> Nhóm cá nhân</button>

        <button class="private-btn btn">
            <i class="fas fa-briefcase private-btn-icon" aria-hidden="true"></i>Riêng
            tư
        </button>

    </div>

    <button class="menu-btn btn">
        <i class="fas fa-ellipsis-h menu-btn-icon" aria-hidden="true"></i>Show
        Menu
    </button>

</section>
<!-- End of board info bar -->
<!-- Lists container -->
<section class="lists-container" id="Alllist">


    <div class="list">
        <h3 class="list-title">Topics/Concepts to Revise</h3>

        <div id="lists">
        </div>
        <div id="container">
            <div id="add-a-card-btn"><i class="fas fa-plus" aria-hidden="true"> </i> Thêm thẻ mới </div>
            <div id="save-card-box">
                <input id="card-input-box" placeholder="Thêm thẻ mới..." class="form-control" />
                <button type="button" id="save-card-btn">Save</button>
                <span id="closecbtn">X</span>
            </div>
        </div>
    </div>




    <div class="list">

        <h3 class="list-title">Topics/Concepts to Revise</h3>

        <ul class="list-items card__list" id="sortable__1">
            <li class="card__item">
                <span class="card__tag card__tag--browser">Browser</span>
                <h6 class="card__title">Lightbox loading issue on Safari</h6>
                <ol class="card__actions">
                    <li class="card__actions--wrapper">
                    </li>
                    <ol class="card__avatars">
                        <li class="card__avatars--item">
                            <!-- Photo by Philip Martin on Unsplash -->
                            <img src="https://images.unsplash.com/photo-1521119989659-a83eee488004?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=664&q=80"
                                 alt="Man standing near balcony" class="avatar__image">
                        </li>
                    </ol>

                </ol>
            </li>
            <li class="card__item">
                <span class="card__tag card__tag--browser">Browser</span>
                <h6 class="card__title">Lightbox loading issue on Safari</h6>
                <ol class="card__actions">
                    <li class="card__actions--wrapper">
                    </li>
                    <ol class="card__avatars">
                        <li class="card__avatars--item">
                            <!-- Photo by Philip Martin on Unsplash -->
                            <img src="https://images.unsplash.com/photo-1521119989659-a83eee488004?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=664&q=80"
                                 alt="Man standing near balcony" class="avatar__image">
                        </li>
                    </ol>

                </ol>
            </li>
            <li class="card__item">
                <span class="card__tag card__tag--browser">Browser</span>
                <h6 class="card__title">Lightbox loading issue on Safari</h6>
                <ol class="card__actions">
                    <li class="card__actions--wrapper">
                    </li>
                    <ol class="card__avatars">
                        <li class="card__avatars--item">
                            <!-- Photo by Philip Martin on Unsplash -->
                            <img src="https://images.unsplash.com/photo-1521119989659-a83eee488004?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=664&q=80"
                                 alt="Man standing near balcony" class="avatar__image">
                        </li>
                    </ol>

                </ol>
            </li>

        </ul>

        <button class="add-card-btn btn">Thêm một thẻ mới</button>
    </div>
    <div id="container">
        <div id="add-a-list-btn"><i class="fas fa-plus" aria-hidden="true"> </i> Thêm danh sách mới </div>
        <div id="save-list-box">
            <input id="list-input-box" placeholder="Thêm danh sách mới..." class="form-control" />
            <button type="button" id="save-list-btn">Save</button>
            <span id="closebtn">X</span>
        </div>
    </div>

</section>

