
@{
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
<head>
    <link href="@Url.Content("~/css/homeindex.css")" rel="stylesheet" type="text/css" />
</head>
<div class="navbar-content">
    <div class="row" style="width: 100%;">
        <div class="content-writing col-lg-6">
            <div>
                <h1>Bello giúp các nhóm làm việc có tính hợp tác hơn và làm được nhiều hơn.</h1>
                <p>
                    Các bảng, danh sách, và thẻ của Bello cho phép các nhóm tổ chức và ưu tiên các dự
                    án
                    một
                    cách vui vẻ, linh hoạt và xứng đáng
                </p>
            </div>
        </div>
        <div class="content-img col-lg-6">
            <div>
                <img src="https://d2k1ftgv7pobq7.cloudfront.net/meta/p/res/images/308998dcb3ed5ab3d01217a4d24ffa03/hero-a.svg"
                     alt="error" class="img-fluid">
            </div>
        </div>
    </div>
</div>

